header {
  display: flex;
  flex-direction: column;
}

.header {
  color: $primary;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 24px;
  padding: 15px;
  @include phones {
    justify-content: center;
  }
}

.header__logo {
  display: flex;

  align-items: center;
  gap: 5px

}

.header-img {
  width: 64px;
  height: 64px;
}

.header_line {
  height: 8px;
  background: $background-color;
  background: $primary-gradient;
}
