$gradient-start: rgb(84, 84, 91);
$gradient-middle: rgb(174, 174, 189);
$gradient-end: rgb(92, 94, 106);
$progress-gradient: linear-gradient(90deg, rgb(243, 190, 232) 0%, rgb(244, 238, 242) 64%, rgb(196, 147, 186) 100%);
$primary: #04040a;


$logo-color: rgba(31, 94, 72, 0.93);
$background-color: rgb(84, 84, 91);
$primary-gradient: linear-gradient(90deg, rgba(84, 84, 91, 1) 0%, rgba(174, 174, 189, 1) 75%, rgba(92, 94, 106, 1) 100%);


$tablets: 768px; 
$phones: 610px; 