.search-box {
  width: 330px;
  @include phones {
    width: 80%;
  }
}

.search-label {
  display: block;
    position: relative;
}

.button__close {
  position: absolute;
 right: 12px;
  top: 50%;
  transform: translateY(-50%);
  
  
  font-size: 16dpx;
  color: #B3A3B3CC;
  transition: color 0.2s ease;

  &:hover {
    color: rgba(50, 48, 48, 0.8);
  }

  &::before {
    content: '';
  }
}


.search-input {
  width: 100%;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 25px;
  border: 1px solid rgb(178, 178, 179);

  &:hover {
    border: 1px solid rgb(178, 178, 179);
    box-shadow: 0px 0px 7px 0.5px rgba(179, 163, 179, 0.8);
  }

  &:focus {
    border: 1px solid rgb(178, 178, 179);
    box-shadow: 0px 0px 7px 0.5px rgba(179, 163, 179, 0.8);
  }

  &:active {
    border: 1px solid rgb(140, 140, 140);
    box-shadow: 0px 0px 7px 0.5px rgba(120, 120, 120, 0.8);
  }
}
